doctype html
html(lang='en')
    include ./block/head.pug        
    body 
             
        include ./block/header.pug
        include ./block/menu.pug
        +header(user)
        .content.container-fluid
            .container.px-0
                .navbar.row
                    +menu(menu)
                            
                    .content-main.col-10.py-4
                        .new-photo-text
                            h3 Edit User Profile
                        form.user-profile(method='POST',action=`/profile?_method=PUT`,enctype='multipart/form-data')
                            
                            .user-image
                                    img(src=user.image)                                
                                    label(for='change-image') Change
                                    input(type='file',src=user.image id='change-image',name='file')
                            .profile-content
                                .profile-input
                                    label(for='firstName') First Name
                                    input(type='text',placeholder='First name', id='firstName', name='firstName',value=user.firstName, required)
                                .profile-input
                                    label(for='lastName') Last Name
                                    input(type='text',placeholder='Last name', id='lastName', name='lastName',value=user.lastName,required)
                                .profile-input
                                    label(for='email') Email
                                    input(type='text',placeholder='Email', id='email', name='email',value=user.email,required)
                                if(validate)
                                    .validate
                                        for v in validate
                                            p(class="validate-text")="* "+v.msg
                                if(message)
                                    .message 
                                        p=message
                            .profile-submit
                                .nothing
                                .bt
                                    button(type='submit') Save
                        
                        form.user-profile(method='POST', action=`/profile/password?_method=PUT`)
                            .profile-content
                                .profile-input
                                    label(for='title') Current Password
                                    input(type='password',placeholder='Current password', id='currentPassword', name='currentPassword',required)
                                .profile-input
                                    label(for='title') New Password
                                    input(type='password',placeholder='New password', id='newPassword', name='newPassword',required)
                                .profile-input
                                    label(for='title') Password Confirm
                                    input(type='password',placeholder='Password confirm', id='passwordConfirm', name='passwordConfirm',required)
                                if(validatePassword)
                                    .validate
                                        for v in validatePassword
                                            p(class="validate-text")="* "+v.msg
                                if(message)
                                    .message 
                                        p=message
                            .password-submit
                                .nothing
                                .bt
                                    button(type='submit') Save
  
                    .right.col-1
                        
        
        include ./block/popup.pug
        include ./block/script.pug
        
