mixin album(alb)
    .album                            
        .image-album
            img(src=alb.images[0], alt="")
            img(src=alb.images[1], alt="")
            img(src=alb.images[2], alt="")
            
        .content-album
            p=alb.title
             
            a(href=`/albums/${alb._id}/edit`)
                <i class="fa-solid fa-pen-to-square"></i>
        if !alb.isPublic
            .lock
                <i class="fa-solid fa-lock"></i>
        