mixin feeds_album(alb)
    .post                            
        .image-post
            img(src=alb.images[0])
            img(src=alb.images[1])
            img(src=alb.images[2])
        .content-post
            .user-post
                img(src=alb.user.image, alt="", srcset="")
                a.ms-2(href="")=`${alb.user.firstName} ${alb.user.lastName}`
            a.post-link(href="#")=alb.title
            p=alb.description
            .more
                .like
                    i.fa-solid.fa-heart
                    p=100
                .date-post 
                    p=alb.date