mixin pagination(numberPage,page,type)
    .pagination 
        ul 
            li
                if(type)
                    a(href=`?filter=${type}&page=${(page-1)<1?1:page-1}`) Previous
                else
                    a(href=`?page=${(page-1)<1?1:page-1}`) Previous
            - var n=1
            while n<=numberPage            
                li
                    if(type)
                        a(href=`?filter=${type}&page=${n}`,class=(page==n)?'isActive':'')=n++
                    else
                        a(href=`?page=${n}`,class=(page==n)?'isActive':'')=n++
            li
                if(type)
                    a(href=`?filter=${type}&page=${(page+1)>numberPage?1:page+1}`) Next
                else
                    a(href=`?page=${(page+1)>numberPage?1:page+1}`) Next